################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/TD3_1900664_1907605/.vs/TD3_1900664_1907605/v15
